{% extends "app/layout.html" %}

{% block content %}

<h2>Contatos</h2>
<h3>Somos a empresa de negócios que você esta procurando</h3>

<address>
    Empresa Aplicações de TI em Negócios<br />
    Rua MArio Gomes, 69<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 4771-6202
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@negocios.com">Suporte@negocios.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:aleaplicacoes@negocios.com">aleaplicacoes@negocios.com</a>
</address>

{% endblock %}
